<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content class="video-player">
    <iframe [src]='safeUrl' frameborder="0"></iframe>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <share-buttons theme="circles-dark"
        [include]="['facebook', 'linkedin','pinterest','twitter']"
        [showIcon]="true"
        [showText]="false"
        url="{{'https://www.youtube.com/embed/' + this.data.videoId}}"
        description="Angular Share Buttons"
        twitterAccount="bbcworld"
    >
</share-buttons>
</div>